div {
    text-align: center
}

.mainPokemon {
    height: 200px;
    padding: auto;
    margin: auto;
}


.mainPokemon div {

}

.team {
    height: 200px;
    width: 100%;
    padding: auto;
    margin: auto;
}
.team div {
    width: 150px;
    margin: 0px;
    display: inline-block;
}